In [77]:
import pandas as pd
import numpy as np
import csv

In [78]:
# read the file
file="C://Users//Spring//Desktop//UCIIRV20190513DATA3//Homework//03-Python//Instructions//PyBank//Resources//budget_data.csv"
bybank_budget=pd.read_csv(file)
bybank_budget.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [79]:
total_mounths=bybank_budget["Date"].count()
total_mounths

86

In [80]:
total_net=bybank_budget["Profit/Losses"].sum()
total_net

38382578

In [81]:
bybank_budget.sum()

Date             Jan-2010Feb-2010Mar-2010Apr-2010May-2010Jun-20...
Profit/Losses                                             38382578
dtype: object

In [82]:
data=bybank_budget.groupby(['Profit/Losses'])
#data.head()

In [83]:
positive_count=0
negative_sum=0
for row in data:
    if row[0]>0:
        positive_count+=1
    elif row[0]<0:
        negative_sum+=1
    
#positive_count   
#negative_sum

In [84]:
mkdir "C:\\Users\\Spring\\Desktop\\python-challenge\\PyBank\\result.csv"

A subdirectory or file C:\\Users\\Spring\\Desktop\\python-challenge\\PyBank\\result.csv already exists.

In [85]:
outfile="../PyBank/result.csv/"

In [86]:
out_result=pd.write_csv(outfile)
out_result.writerow(['Total Months', 'Total', 'Average  Change'])
out_result.writerow([total_mounths, total_net, ave_change])

AttributeError: module 'pandas' has no attribute 'write_csv'